<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>吉林省</string>
	<key>1</key>
	<string>上海市</string>
	<key>2</key>
	<string>北京市</string>
	<key>3</key>
	<string>甘肃省</string>
	<key>4</key>
	<string></string>
	<key>24</key>
	<string>特殊车牌</string>
</dict>
</plist>
