<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>余额查询</string>
				<key>code</key>
				<string>CXYE</string>
			</dict>
			<dict>
				<key>name</key>
				<string>套餐剩余短信</string>
				<key>code</key>
				<string>CXBX</string>
			</dict>
			<dict>
				<key>code</key>
				<string>CXGTC</string>
				<key>name</key>
				<string>GPRS套餐剩余流量</string>
			</dict>
			<dict>
				<key>name</key>
				<string>开通飞信</string>
				<key>code</key>
				<string>KTFX</string>
			</dict>
			<dict>
				<key>name</key>
				<string>取消飞信</string>
				<key>code</key>
				<string>QXFX</string>
			</dict>
			<dict>
				<key>name</key>
				<string>取消GPRS套餐</string>
				<key>code</key>
				<string>QXGPRS</string>
			</dict>
			<dict>
				<key>name</key>
				<string>恢复GPRS功能</string>
				<key>code</key>
				<string>KTGPRS</string>
			</dict>
			<dict>
				<key>name</key>
				<string>修改密码</string>
				<key>code</key>
				<string>XGMM</string>
			</dict>
			<dict>
				<key>name</key>
				<string>开通留言信箱</string>
				<key>code</key>
				<string>BLLYXX</string>
			</dict>
			<dict>
				<key>name</key>
				<string>取消留言信箱</string>
				<key>code</key>
				<string>QXLYXX</string>
			</dict>
			<dict>
				<key>name</key>
				<string>查询留言信箱 </string>
				<key>code</key>
				<string>CXLYXX</string>
			</dict>
			<dict>
				<key>name</key>
				<string>开通香港漫游</string>
				<key>code</key>
				<string>KTHK</string>
			</dict>
			<dict>
				<key>name</key>
				<string>取消香港漫游</string>
				<key>code</key>
				<string>QXHK</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>移动客服号码</string>
				<key>code</key>
				<string>10086</string>
			</dict>
			<dict>
				<key>name</key>
				<string>资费查询号码</string>
				<key>code</key>
				<string>1008611</string>
			</dict>
			<dict>
				<key>name</key>
				<string>充值号码 </string>
				<key>code</key>
				<string>13800138000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>便民综合信息查询</string>
				<key>code</key>
				<string>12580</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>当月话费</string>
				<key>code</key>
				<string>101</string>
			</dict>
			<dict>
				<key>name</key>
				<string>可用余额</string>
				<key>code</key>
				<string>102</string>
			</dict>
			<dict>
				<key>code</key>
				<string>103</string>
				<key>name</key>
				<string>上月帐单</string>
			</dict>
			<dict>
				<key>name</key>
				<string>历史帐单</string>
				<key>code</key>
				<string>104</string>
			</dict>
			<dict>
				<key>name</key>
				<string>积分查询 </string>
				<key>code</key>
				<string>105</string>
			</dict>
			<dict>
				<key>name</key>
				<string>积分消费记录</string>
				<key>code</key>
				<string>106</string>
			</dict>
			<dict>
				<key>name</key>
				<string>信用额度</string>
				<key>code</key>
				<string>201</string>
			</dict>
			<dict>
				<key>name</key>
				<string>缴费记录</string>
				<key>code</key>
				<string>202</string>
			</dict>
			<dict>
				<key>name</key>
				<string>业务记录</string>
				<key>code</key>
				<string>203</string>
			</dict>
			<dict>
				<key>name</key>
				<string>用户信息 </string>
				<key>code</key>
				<string>204</string>
			</dict>
			<dict>
				<key>name</key>
				<string>帐户信息</string>
				<key>code</key>
				<string>205</string>
			</dict>
			<dict>
				<key>name</key>
				<string>3G资费</string>
				<key>code</key>
				<string>003</string>
			</dict>
			<dict>
				<key>name</key>
				<string>密码修改</string>
				<key>code</key>
				<string>401</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>联通客服号码</string>
				<key>code</key>
				<string>10010</string>
			</dict>
			<dict>
				<key>name</key>
				<string>充值号码</string>
				<key>code</key>
				<string>10011</string>
			</dict>
		</array>
	</array>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>实时话费</string>
				<key>code</key>
				<string>SSHF</string>
			</dict>
			<dict>
				<key>name</key>
				<string>帐户余额 </string>
				<key>code</key>
				<string>ZHYE</string>
			</dict>
			<dict>
				<key>code</key>
				<string>SYZD</string>
				<key>name</key>
				<string>上月帐单 </string>
			</dict>
			<dict>
				<key>name</key>
				<string>历史帐单</string>
				<key>code</key>
				<string>LSZD</string>
			</dict>
			<dict>
				<key>name</key>
				<string>剩余短信查询</string>
				<key>code</key>
				<string>SYDXCX</string>
			</dict>
			<dict>
				<key>name</key>
				<string>套餐使用情况</string>
				<key>code</key>
				<string>TCSYQK</string>
			</dict>
			<dict>
				<key>name</key>
				<string>通话清单</string>
				<key>code</key>
				<string>THQD</string>
			</dict>
			<dict>
				<key>name</key>
				<string>交费记录</string>
				<key>code</key>
				<string>JFJL</string>
			</dict>
			<dict>
				<key>name</key>
				<string>流量加餐包</string>
				<key>code</key>
				<string>LLJCB</string>
			</dict>
			<dict>
				<key>name</key>
				<string>积分查询</string>
				<key>code</key>
				<string>JFCX</string>
			</dict>
			<dict>
				<key>name</key>
				<string>密码修改</string>
				<key>code</key>
				<string>MMXG</string>
			</dict>
			<dict>
				<key>name</key>
				<string>节日短信</string>
				<key>code</key>
				<string>JRDX</string>
			</dict>
			<dict>
				<key>name</key>
				<string>幽默短信 </string>
				<key>code</key>
				<string>YMDX</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>客户服务</string>
				<key>code</key>
				<string>10000</string>
			</dict>
			<dict>
				<key>name</key>
				<string>投诉监督</string>
				<key>code</key>
				<string>400-881-0000</string>
			</dict>
		</array>
	</array>
	<array>
		<array/>
		<array>
			<dict>
				<key>name</key>
				<string>巴士在线</string>
				<key>code</key>
				<string>10020</string>
			</dict>
			<dict>
				<key>name</key>
				<string>爱施德</string>
				<key>code</key>
				<string>10021</string>
			</dict>
			<dict>
				<key>name</key>
				<string>北纬通信</string>
				<key>code</key>
				<string>10022</string>
			</dict>
			<dict>
				<key>name</key>
				<string>京东</string>
				<key>code</key>
				<string>10023</string>
			</dict>
			<dict>
				<key>name</key>
				<string>长江时代</string>
				<key>code</key>
				<string>10025</string>
			</dict>
			<dict>
				<key>name</key>
				<string>迪信通</string>
				<key>code</key>
				<string>10026</string>
			</dict>
			<dict>
				<key>name</key>
				<string>远特</string>
				<key>code</key>
				<string>10027</string>
			</dict>
			<dict>
				<key>name</key>
				<string>乐语</string>
				<key>code</key>
				<string>10028</string>
			</dict>
			<dict>
				<key>name</key>
				<string>阿里</string>
				<key>code</key>
				<string>10029</string>
			</dict>
			<dict>
				<key>name</key>
				<string>连连科技</string>
				<key>code</key>
				<string>10030</string>
			</dict>
			<dict>
				<key>name</key>
				<string>中期</string>
				<key>code</key>
				<string>10031</string>
			</dict>
			<dict>
				<key>name</key>
				<string>天音</string>
				<key>code</key>
				<string>10033</string>
			</dict>
			<dict>
				<key>name</key>
				<string>苏宁</string>
				<key>code</key>
				<string>10035</string>
			</dict>
			<dict>
				<key>name</key>
				<string>华翔联信</string>
				<key>code</key>
				<string>10036</string>
			</dict>
			<dict>
				<key>name</key>
				<string>国美</string>
				<key>code</key>
				<string>10037</string>
			</dict>
			<dict>
				<key>name</key>
				<string>分享在线</string>
				<key>code</key>
				<string>10039</string>
			</dict>
			<dict>
				<key>name</key>
				<string>蜗牛</string>
				<key>code</key>
				<string>10040</string>
			</dict>
		</array>
	</array>
</array>
</plist>
